{% extends '@EasyAdmin/layout.html.twig' %}

{% block body_class %}
    {{ parent() }}
    {% if not is_granted('ROLE_SUPER_ADMIN') %} ea-no-sidebar{% endif %}
{% endblock %}

{% block responsive_header %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content_top_header %}
    {% if not is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path(ea.dashboardRouteName) }}" class="ea-topbar-logo">
            <img src="/images/logo-mercuriale-rectangulaire.png" alt="Mercuriale.io" class="ea-topbar-logo__img">
        </a>
    {% endif %}
    {{ parent() }}
{% endblock %}
